@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Inter'sans-serif;
}

/****header****/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 67px;
}

header input {
  width: 190px;
  height: 46px;
  border: #2997FF;
  border-radius: 8px;
  background: #2997FF;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/****Body****/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 76px;
}

.leftSection h1 {
  font-size: 32px;
  font-weight: bold;
}

.leftSection .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.leftSection .star .imgLeft {
  margin-left: 8px;
}

.leftSection .star p {
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold;
}

.leftSection .star p span {
  margin-left: 4px;
  color: #A8A8A8;
  font-weight: 100;
}

.leftSection .informationPhone {
  margin-top: 33px;
  font-size: 16px;
  max-width: 600px;
  line-height: 25px;
}

.leftSection .informationPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  width: 180px;
  height: 100px;
  background: #C91F28;
  border-radius: 12px;
  font-size: 26px;
  color: #fff;
}

.leftSection .informationPrice span {
  font-size: 16px;
}

.leftSection .dph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-top: 8px;
  width: 180px;
  color: #A8A8A8;
}

.leftSection button {
  width: 190px;
  height: 46px;
  margin-top: 36px;
  background: #21AA1E;
  color: #fff;
  font-size: 16px;
  border: #21AA1E;
  border-radius: 8px;
}

aside .phoneImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 34px;
}

aside .phoneImg .images {
  width: 100px;
  height: 100px;
  border: red;
}

/*   responzivita    */
@media (max-width: 660px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .leftSection h1 {
    font-size: 24px;
    font-weight: bold;
  }
  section .leftSection .star {
    margin-top: 8px;
  }
  section .leftSection .informationPhone {
    margin-top: 16px;
    max-width: 345px;
  }
  section .leftSection .boxInformationPrice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .leftSection .boxInformationPrice .informationPrice {
    margin-top: 26px;
    height: 124px;
  }
  section aside {
    margin-top: 48px;
  }
}
/*# sourceMappingURL=style.css.map */